@page "/"
@using TestDeeplay.Client.Services
@inject EmployeeService EmployeeService
<h3>Employees</h3>
<MudTable>

</MudTable>
@code {

    private 

    protected override async Task OnInitializedAsync()
    {

    }
}
